{
  "PEXELS_API_KEY": "set your own pexels key",
  "BackgroundColor": "#000000",
  "FitMode":  "center",
  "Keyword": "ocean",
  "PoolSize": 20,
  "Proxy": "http://127.0.0.1:3128",
  "Scaling": ["set your scaling for each monitor"],
  "NoRepeat": true
}
